# Análisis del Barcelona 2008 - 2009

## Paso 2. Análisis exploratorio de datos (EDA)

In [3]:
import sqlite3
import pandas as pd

#Conectar a la base de datos
conn = sqlite3.connect ("database.sqlite")

#Mostrar las tablas que hay en la base de datos
tablas = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print ("Tablas disponibles:")
print(tablas)

#Ver cuantos registros tiene cada uno
for tabla in tablas ['name']:
    count = pd.read_sql_query(f"SELECT COUNT (*) as total FROM {tabla};", conn)
    print (f"Tabla: {tabla}, Filas: {count['total'][0]}")

Tablas disponibles:
                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes
Tabla: sqlite_sequence, Filas: 7
Tabla: Player_Attributes, Filas: 183978
Tabla: Player, Filas: 11060
Tabla: Match, Filas: 25979
Tabla: League, Filas: 11
Tabla: Country, Filas: 11
Tabla: Team, Filas: 299
Tabla: Team_Attributes, Filas: 1458

In [4]:
#Ver columnas y tipos de datos del dataset
for tabla in tablas ['name']:
    print (f"\nColumnas de la tabla: {tabla}")
    info = pd.read_sql_query (f"PRAGMA table_info({tabla});",conn)
    print (info)

Columnas de la tabla: sqlite_sequence
   cid  name type  notnull dflt_value  pk
0    0  name             0       None   0
1    1   seq             0       None   0

Columnas de la tabla: Player_Attributes
    cid                 name     type  notnull dflt_value  pk
0     0                   id  INTEGER        0       None   1
1     1   player_fifa_api_id  INTEGER        0       None   0
2     2        player_api_id  INTEGER        0       None   0
3     3                 date     TEXT        0       None   0
4     4       overall_rating  INTEGER        0       None   0
5     5            potential  INTEGER        0       None   0
6     6       preferred_foot     TEXT        0       None   0
7     7  attacking_work_rate     TEXT        0       None   0
8     8  defensive_work_rate     TEXT        0       None   0
9     9             crossing  INTEGER        0       None   0
10   10            finishing  INTEGER        0       None   0
11   11     heading_accuracy  INTEGER        0       None   0
12   12        short_passing  INTEGER        0       None   0
13   13              volleys  INTEGER        0       None   0
14   14            dribbling  INTEGER        0       None   0
15   15                curve  INTEGER        0       None   0
16   16   free_kick_accuracy  INTEGER        0       None   0
17   17         long_passing  INTEGER        0       None   0
18   18         ball_control  INTEGER        0       None   0
19   19         acceleration  INTEGER        0       None   0
20   20         sprint_speed  INTEGER        0       None   0
21   21              agility  INTEGER        0       None   0
22   22            reactions  INTEGER        0       None   0
23   23              balance  INTEGER        0       None   0
24   24           shot_power  INTEGER        0       None   0
25   25              jumping  INTEGER        0       None   0
26   26              stamina  INTEGER        0       None   0
27   27             strength  INTEGER        0       None   0
28   28           long_shots  INTEGER        0       None   0
29   29           aggression  INTEGER        0       None   0
30   30        interceptions  INTEGER        0       None   0
31   31          positioning  INTEGER        0       None   0
32   32               vision  INTEGER        0       None   0
33   33            penalties  INTEGER        0       None   0
34   34              marking  INTEGER        0       None   0
35   35      standing_tackle  INTEGER        0       None   0
36   36       sliding_tackle  INTEGER        0       None   0
37   37            gk_diving  INTEGER        0       None   0
38   38          gk_handling  INTEGER        0       None   0
39   39           gk_kicking  INTEGER        0       None   0
40   40       gk_positioning  INTEGER        0       None   0
41   41          gk_reflexes  INTEGER        0       None   0

Columnas de la tabla: Player
   cid                name     type  notnull dflt_value  pk
0    0                  id  INTEGER        0       None   1
1    1       player_api_id  INTEGER        0       None   0
2    2         player_name     TEXT        0       None   0
3    3  player_fifa_api_id  INTEGER        0       None   0
4    4            birthday     TEXT        0       None   0
5    5              height  INTEGER        0       None   0
6    6              weight  INTEGER        0       None   0

Columnas de la tabla: Match
     cid        name     type  notnull dflt_value  pk
0      0          id  INTEGER        0       None   1
1      1  country_id  INTEGER        0       None   0
2      2   league_id  INTEGER        0       None   0
3      3      season     TEXT        0       None   0
4      4       stage  INTEGER        0       None   0
..   ...         ...      ...      ...        ...  ..
110  110         GBD  NUMERIC        0       None   0
111  111         GBA  NUMERIC        0       None   0
112  112         BSH  NUMERIC        0       None   0
113  113         BSD  NUMERIC        0       None   0
114  114         BSA  NUMERIC        0       None   0

[115 rows x 6 columns]

Columnas de la tabla: League
   cid        name     type  notnull dflt_value  pk
0    0          id  INTEGER        0       None   1
1    1  country_id  INTEGER        0       None   0
2    2        name     TEXT        0       None   0

Columnas de la tabla: Country
   cid  name     type  notnull dflt_value  pk
0    0    id  INTEGER        0       None   1
1    1  name     TEXT        0       None   0

Columnas de la tabla: Team
   cid              name     type  notnull dflt_value  pk
0    0                id  INTEGER        0       None   1
1    1       team_api_id  INTEGER        0       None   0
2    2  team_fifa_api_id  INTEGER        0       None   0
3    3    team_long_name     TEXT        0       None   0
4    4   team_short_name     TEXT        0       None   0

Columnas de la tabla: Team_Attributes
    cid                            name     type  notnull dflt_value  pk
0     0                              id  INTEGER        0       None   1
1     1                team_fifa_api_id  INTEGER        0       None   0
2     2                     team_api_id  INTEGER        0       None   0
3     3                            date     TEXT        0       None   0
4     4                buildUpPlaySpeed  INTEGER        0       None   0
5     5           buildUpPlaySpeedClass     TEXT        0       None   0
6     6            buildUpPlayDribbling  INTEGER        0       None   0
7     7       buildUpPlayDribblingClass     TEXT        0       None   0
8     8              buildUpPlayPassing  INTEGER        0       None   0
9     9         buildUpPlayPassingClass     TEXT        0       None   0
10   10     buildUpPlayPositioningClass     TEXT        0       None   0
11   11           chanceCreationPassing  INTEGER        0       None   0
12   12      chanceCreationPassingClass     TEXT        0       None   0
13   13          chanceCreationCrossing  INTEGER        0       None   0
14   14     chanceCreationCrossingClass     TEXT        0       None   0
15   15          chanceCreationShooting  INTEGER        0       None   0
16   16     chanceCreationShootingClass     TEXT        0       None   0
17   17  chanceCreationPositioningClass     TEXT        0       None   0
18   18                 defencePressure  INTEGER        0       None   0
19   19            defencePressureClass     TEXT        0       None   0
20   20               defenceAggression  INTEGER        0       None   0
21   21          defenceAggressionClass     TEXT        0       None   0
22   22                defenceTeamWidth  INTEGER        0       None   0
23   23           defenceTeamWidthClass     TEXT        0       None   0
24   24        defenceDefenderLineClass     TEXT        0       None   0

In [5]:
# Ver fecha máxima y mínima para análisis
for tabla in ['Match', 'Player_Attributes', 'Team_Attributes']:
    print(f"Rango de fechas en la tabla: {tabla}")
    fechas = pd.read_sql_query(f"SELECT MIN(date) as min_fecha, MAX(date) as max_fecha FROM {tabla};", conn)
    print(fechas)

Rango de fechas en la tabla: Match
             min_fecha            max_fecha
0  2008-07-18 00:00:00  2016-05-25 00:00:00
Rango de fechas en la tabla: Player_Attributes
             min_fecha            max_fecha
0  2007-02-22 00:00:00  2016-07-07 00:00:00
Rango de fechas en la tabla: Team_Attributes
             min_fecha            max_fecha
0  2010-02-22 00:00:00  2015-09-10 00:00:00

In [6]:
# Consulta SQL a la tabla Player_atributes

query = "SELECT id, team_fifa_api_id, team_api_id, date FROM Team_Attributes;"
df = pd.read_sql_query(query, conn)

print (df.head(5))

   id  team_fifa_api_id  team_api_id                 date
0   1               434         9930  2010-02-22 00:00:00
1   2               434         9930  2014-09-19 00:00:00
2   3               434         9930  2015-09-10 00:00:00
3   4                77         8485  2010-02-22 00:00:00
4   5                77         8485  2011-02-22 00:00:00

### Verificación de nulos en las tablas

In [8]:
#Player_Attributes	

df = pd.read_sql_query ("SELECT * FROM Player_Attributes", conn)
print (df.isnull().sum())

id                        0
player_fifa_api_id        0
player_api_id             0
date                      0
overall_rating          836
potential               836
preferred_foot          836
attacking_work_rate    3230
defensive_work_rate     836
crossing                836
finishing               836
heading_accuracy        836
short_passing           836
volleys                2713
dribbling               836
curve                  2713
free_kick_accuracy      836
long_passing            836
ball_control            836
acceleration            836
sprint_speed            836
agility                2713
reactions               836
balance                2713
shot_power              836
jumping                2713
stamina                 836
strength                836
long_shots              836
aggression              836
interceptions           836
positioning             836
vision                 2713
penalties               836
marking                 836
standing_tackle         836
sliding_tackle         2713
gk_diving               836
gk_handling             836
gk_kicking              836
gk_positioning          836
gk_reflexes             836
dtype: int64

In [9]:
#Player

df = pd.read_sql_query ("SELECT * FROM Player", conn)
print (df.isnull().sum())

id                    0
player_api_id         0
player_name           0
player_fifa_api_id    0
birthday              0
height                0
weight                0
dtype: int64

In [10]:
#League

df = pd.read_sql_query ("SELECT * FROM League", conn)
print (df.isnull().sum())

id            0
country_id    0
name          0
dtype: int64

In [11]:
# Team

df = pd.read_sql_query ("SELECT * FROM Team", conn)
print (df.isnull().sum())

id                   0
team_api_id          0
team_fifa_api_id    11
team_long_name       0
team_short_name      0
dtype: int64

In [12]:
#Match 

df_match = pd.read_sql_query ("SELECT * FROM Match", conn)
print (df_match.isnull().sum())

id                0
country_id        0
league_id         0
season            0
stage             0
              ...
GBD           11817
GBA           11817
BSH           11818
BSD           11818
BSA           11818
Length: 115, dtype: int64

In [13]:
query = ("SELECT * FROM Team WHERE team_long_name LIKE '%Barcelona%';")
df = pd.read_sql_query (query, conn)

print (df.head(5))

      id  team_api_id  team_fifa_api_id team_long_name team_short_name
0  43042         8634               241   FC Barcelona             BAR

In [55]:
query = ("SELECT date FROM Match;")
df = pd.read_sql_query ( query, conn)

print (df.head(5))

                  date
0  2008-08-17 00:00:00
1  2008-08-16 00:00:00
2  2008-08-16 00:00:00
3  2008-08-17 00:00:00
4  2008-08-16 00:00:00

In [63]:
query = """

SELECT m.match_api_id, 
       m.date, 
       th.team_long_name AS home_team_name,   
       ta.team_long_name AS away_team_name
FROM Match m
LEFT JOIN Team th ON m.home_team_api_id = th.team_api_id
LEFT JOIN Team ta ON m.away_team_api_id = ta.team_api_id;

"""
df = pd.read_sql_query (query, conn)

print (df.head(5))

   match_api_id                 date     home_team_name     away_team_name
0        492473  2008-08-17 00:00:00           KRC Genk       Beerschot AC
1        492474  2008-08-16 00:00:00   SV Zulte-Waregem   Sporting Lokeren
2        492475  2008-08-16 00:00:00  KSV Cercle Brugge     RSC Anderlecht
3        492476  2008-08-17 00:00:00           KAA Gent          RAEC Mons
4        492477  2008-08-16 00:00:00      FCV Dender EH  Standard de Liège